workflow 7.json
{
  "name": "workflow 7",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "17bf447d-4ff6-44c9-9a17-dc9c628aa3c2",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1328,
        1184
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "apiEndpoint",
              "value": "https://uselessfacts.jsph.pl/api/v2/facts/random",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "webhookUrl",
              "value": "https://webhook.site/#!/view/new",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "minFactLength",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "031d29d2-43b2-45a1-9fc2-426ebd6df8b2",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        1184
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.apiEndpoint }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "67ebbc16-1bc6-4b92-8668-6aaf6907e182",
      "name": "Fetch Random Fact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1776,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nconst config = $('Workflow Configuration').first().json;\nconst results = [];\n\nfor (const item of inputData) {\n  const fact = item.json.text || '';\n  const factLength = fact.length;\n  const wordCount = fact.split(' ').length;\n  \n  results.push({\n    originalFact: fact,\n    factLength: factLength,\n    wordCount: wordCount,\n    isQualityFact: factLength >= config.minFactLength,\n    timestamp: new Date().toISOString(),\n    source: item.json.source || 'unknown',\n    language: item.json.language || 'en'\n  });\n}\n\nreturn results;"
      },
      "id": "e3ff78a1-b56a-4a93-a830-ac6766b3dae9",
      "name": "Process and Analyze Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.isQualityFact }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65723dd3-acbd-4c34-a328-58b0a36b3c94",
      "name": "Check Data Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        1184
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "Quality fact processed successfully",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "processedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "0ea06ec3-440b-45e1-bce4-e9570746d48f",
      "name": "Format Success Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        1088
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "warning",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "Fact too short - below quality threshold",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "processedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f0e67b92-2655-4754-826f-f9056c1e6080",
      "name": "Format Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.webhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "178146bc-a91b-4e81-9fc8-f17ef9fb1354",
      "name": "Store Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2672,
        1184
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1SVNfjRGc9aCrVmYnlhQXwC-zzXaU579QbhuvivlueHc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SVNfjRGc9aCrVmYnlhQXwC-zzXaU579QbhuvivlueHc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "originalFact": "={{ $json.originalFact }}",
            "factLength": "={{ $json.factLength }}",
            "wordCount": "={{ $json.wordCount }}",
            "status": "={{ $json.status }}",
            "message": "={{ $json.message }}",
            "processedAt": "={{ $json.processedAt }}",
            "Time": "={{ $json.timestamp }}",
            "Language": "={{ $json.language }}",
            "Quality": "={{ $json.isQualityFact }}"
          },
          "matchingColumns": [
            "Data"
          ],
          "schema": [
            {
              "id": "originalFact",
              "displayName": "originalFact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "factLength",
              "displayName": "factLength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "wordCount",
              "displayName": "wordCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2896,
        1184
      ],
      "id": "74a91de1-8021-4ecb-90ff-c14a2165f10a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jiSSdoEJhBsBTe3K",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Random Fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Random Fact": {
      "main": [
        [
          {
            "node": "Process and Analyze Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process and Analyze Data": {
      "main": [
        [
          {
            "node": "Check Data Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Quality": {
      "main": [
        [
          {
            "node": "Format Success Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Report": {
      "main": [
        [
          {
            "node": "Store Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Report": {
      "main": [
        [
          {
            "node": "Store Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Results": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cc2fd88-a3a6-4bf5-a72f-7a75fc82f9af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2fee5b8a598e20643677f24fbb8cf91b965756073467892bd36388e8d5429519"
  },
  "id": "uwenyEtw5Iohlfii",
  "tags": []
}